.menu
    h2.text-center Select a space
    nav
        ul.list-group
            if spaces
                - each space in spaces
                    li.nav-link.list-group-item
                        a(href='/spaces/#{space.id}' title='#{space.name}')= space.name
