extends layout

block content
    h2 Select a Space
    hr
    ul.list-group
        if spaces
            - each space in spaces
                li.list-group-item
                    a(href='/spaces/#{space.id}' title='#{space.name}')= space.name
                        span.pull-right.badge.danger 4
                        small 2 days from now

block js
