@import "header.less";
@import "typography.less";
@import "helpers.less";
@import "side-menu.less";

/*------------------------*/

html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .navbar-header button{
    display: none;
  }

  .auth{
    display: none;
  }
}

body.auth{
  .navbar-header button{
    display: block;
  }

  .auth{
    display: block;
  }

  nav.auth{
    margin-top: 15px;
  }
}

.content-primary {
  background: #000;
  height: 100%;
}

#main {
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  height: 100%;
  background: #f5f6f6;
}

#main.active {
  -webkit-transform: translate3d(88%,0,0);
}

.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 8px;
}

input, button, select, textarea {
  margin-bottom: 12px;
}

.tasks {
  li a {
    border-top: 1px solid #ccc;
    display: block;
    padding: 8px;
    margin-right: -15px;
    margin-left: -15px;
  }

  li:last-child a {
    border-bottom: 1px solid #ccc;
  }
}

.alert.fade{
    display:none;
}

.alert.fade.in{
  display: block;
}

/* calendar overrides */
.fc td, .fc th{
  background-color: #fff;
}

iframe#calendar{
  background-color: #fff;
  border: none;
  padding: none;
  margin: none;
}

hr {
  border-top: 1px solid #dadede;
  -moz-box-shadow: white 0 1px;
  -webkit-box-shadow: white 0 1px;
  box-shadow: white 0 1px;
}

.list-group-item {
  padding: 0;

  a {
    display: block;
    padding: 15px;
  }

}